/*#date-and-room{
  display: block;
}*/

#date-and-room, #room-availability, #set-booking-times, #confirm-booking{
  display: none;
  text-align: center;
}

.phone-button {
  margin-top: 100px;
}

@media screen (max-width: 720px){
  #date-and-room{
    display: block;
  }
  #original-booking{
    display: none;
  }
}

