/*#date-and-room{
  display: block;
}*/

#date-and-room, #room-availability, #set-booking-times, #confirm-booking, #location-choice{
  display: none;
  text-align: center;
}

#schedule {
  background: url('img/scrolling.png');
}

.phone-button {
  margin-top: 100px;
}

@media (max-width: 720px){
  #date-and-room{
    display: block;
  }
  #original-booking{
    display: none;
  }
}
